flows.json
[
    {
        "id": "5e04b9dd.81c658",
        "type": "tab",
        "label": "MQTT Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "235eb13c.0e6e6e",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "esp32-central/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "7e75f56e.a3ef1c",
                "240470b66c98adc9"
            ]
        ]
    },
    {
        "id": "7e75f56e.a3ef1c",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 361,
        "y": 274,
        "wires": []
    },
    {
        "id": "98d00e19.a6762",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "esp32-central/umidade",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "07048bb50e4963b7",
                "89bc352.e41bac8"
            ]
        ]
    },
    {
        "id": "89bc352.e41bac8",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "Umidade",
        "group": "92a9cd27.99b9d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{value/10}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "07048bb50e4963b7",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "240470b66c98adc9",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "Temperatura",
        "group": "92a9cd27.99b9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value/10}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#f55151",
            "#ee6c63",
            "#d62000"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "38ecf3d13bf18e0a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92a9cd27.99b9d",
        "type": "ui_group",
        "name": "Central Monitoramento",
        "tab": "6f670e80.d2e0f",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f670e80.d2e0f",
        "type": "ui_tab",
        "z": "5e04b9dd.81c658",
        "name": "Bancada Embarcados",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]