flows.json
[
    {
        "id": "5e04b9dd.81c658",
        "type": "tab",
        "label": "MQTT Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ec4dcef.913b24",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92a9cd27.99b9d",
        "type": "ui_group",
        "name": "Central Monitoramento",
        "tab": "6f670e80.d2e0f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f670e80.d2e0f",
        "type": "ui_tab",
        "z": "5e04b9dd.81c658",
        "name": "Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "3966a863e3e877f2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "235eb13c.0e6e6e",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "esp32-central/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6ec4dcef.913b24",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "7e75f56e.a3ef1c",
                "125d1072.694a2"
            ]
        ]
    },
    {
        "id": "7e75f56e.a3ef1c",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 341,
        "y": 314,
        "wires": []
    },
    {
        "id": "98d00e19.a6762",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "esp32-central/umidade",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6ec4dcef.913b24",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "07048bb50e4963b7",
                "89bc352.e41bac8"
            ]
        ]
    },
    {
        "id": "89bc352.e41bac8",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "Humidity",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "125d1072.694a2",
        "type": "ui_chart",
        "z": "5e04b9dd.81c658",
        "name": "Temperatura",
        "group": "92a9cd27.99b9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 341,
        "y": 374,
        "wires": [
            []
        ]
    },
    {
        "id": "07048bb50e4963b7",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "0df6cff2a4206411",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "esp32-central/ldr",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6ec4dcef.913b24",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "de759a0beb36acbc",
                "6afbc12ba15b133d"
            ]
        ]
    },
    {
        "id": "de759a0beb36acbc",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 357,
        "y": 467,
        "wires": []
    },
    {
        "id": "6afbc12ba15b133d",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "Iluminacao",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Iluminacao",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 540,
        "wires": []
    }
]